body{
		background-color: #fff;
}
.navbar{
	background-color:#9fbfdf;
	color:#000;
	margin:0;
}
.hello-page{
	background: url("http://akprostudio.pl/back.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height:600px;
}
.hello-container{
	text-align: center;

}
.hello-text{
	color:#fff;
	text-transform: uppercase;
	font-size: 60px;
	text-shadow: 0 1px 3px rgba(35,31,32,.8);
}
.hello-buton{

}

.bannerglowna{
	background: url("http://akprostudio.pl/back.png");
	color: #fff;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}


nav li a{
	color:#000;
}

.navbar-brand{
	color:#fff !important;
	font-weight: bold;
	text-transform: uppercase;
}
.tab-content {
	color:#000;
}
.nav-tabs{
	border-bottom: 1px solid #000;
}
.nav-tabs>li a{
	color: #000;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus{
	color:#fff;
	background-color: #000;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	border: 1px solid #000;
}
.button-hello, .btn-default {
	text-align: center;
	background-color: #84A0C6;
	color:#fff;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	margin-right:20px;
	margin-top:20px;
	padding:12px 28px;
	font-size:16px;
	border-radius:4px;


}
.button-hello:hover, .btn-default:hover{
	background-color: #d6dfec;
	color:#2d5790;
	opacity:0.8;
}
.button-account{
	text-align: center;
	background-color: #84A0C6;
	color:#fff;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
}
.button-account:hover{
	background-color: #d6dfec;
	color:#2d5790;
}
.login-box{
	border: 2px solid #84A0C6;
	color:#84A0C6;
	border-radius: 20px;
}
.login-form{
	margin-bottom:30px;
	margin-top:40px;
	margin-left:20px;
	margin-right:20px;
}
.login>.button-account{
	margin-top:1em;
}

footer{
	background-color: #9fbfdf;
	color:#fff;
}
.footer-text{
	padding-top:10px;

}
.footer-last{
	padding-bottom:10px;
}
